<div class="layout">
  <aside class="sidebar">
    <h2 >Patient Dashboard</h2>
    <hr>
    <nav>
      <ul>
        <li>
          <a routerLink="/patient/dashboard" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/patient/appointments" routerLinkActive="active"
            >My Appointments</a
          >
        </li>
        <li>
          <a routerLink="/patient/doctors" routerLinkActive="active">Doctors</a>
        </li>
        <li>
          <a routerLink="/patient/profile" routerLinkActive="active">Profile</a>
        </li>
        <li><a routerLink="/">Logout</a></li>
      </ul>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
