<div class="layout">
  <aside class="sidebar">
     <h2>{{ "DOCTOR_PANEL.TITLE" | translate }}</h2>
  <hr/>
 <nav>

    <ul>
      <li>
        <a routerLink="/doctor/dashboard" routerLinkActive="active">
          {{ "DOCTOR_PANEL.DASHBOARD" | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/doctor/appointments" routerLinkActive="active">
          {{ "DOCTOR_PANEL.APPOINTMENTS" | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/doctor/profile" routerLinkActive="active">
          {{ "DOCTOR_PANEL.PROFILE" | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/">
          {{ "DOCTOR_PANEL.LOGOUT" | translate }}
        </a>
      </li>
    </ul>
  </nav>
  </aside>
<app-footer></app-footer>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
