<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
  <label>الاسم:</label>
  <input formControlName="name" type="text" />
  <div *ngIf="f['name'].touched && f['name'].invalid" class="text-red-600 text-sm">
    <div *ngIf="f['name'].errors?.['required']">الاسم مطلوب.</div>
    <div *ngIf="f['name'].errors?.['minlength']">الاسم يجب أن يكون 3 أحرف على الأقل.</div>
  </div>

  <label>البريد الإلكتروني:</label>
  <input formControlName="email" type="email" />
  <div *ngIf="f['email'].touched && f['email'].invalid" class="text-red-600 text-sm">
    <div *ngIf="f['email'].errors?.['required']">البريد الإلكتروني مطلوب.</div>
    <div *ngIf="f['email'].errors?.['email']">صيغة البريد الإلكتروني غير صحيحة.</div>
  </div>
<!---->
  <label>الهاتف:</label>
  <input formControlName="phone" type="text" />
  <div *ngIf="f['phone'].touched && f['phone'].invalid" class="text-red-600 text-sm">
    <div *ngIf="f['phone'].errors?.['required']">رقم الهاتف مطلوب.</div>
    <div *ngIf="f['phone'].errors?.['pattern']">رقم الهاتف يجب أن يحتوي على 10 إلى 15 رقم فقط.</div>
  </div>

  <label>التخصص:</label>
  <input formControlName="specification" type="text" />
  <div *ngIf="f['specification'].touched && f['specification'].invalid" class="text-red-600 text-sm">
    <div *ngIf="f['specification'].errors?.['required']">التخصص مطلوب.</div>
    <div *ngIf="f['specification'].errors?.['minlength']">التخصص يجب أن يكون 3 أحرف على الأقل.</div>
  </div>

  <label>العيادة:</label>
  <select formControlName="clinicId">
    <option value="">اختر العيادة</option>
    <option *ngFor="let clinic of clinics" [value]="clinic.id">{{ clinic.name }}</option>
  </select>
  <div *ngIf="f['clinicId'].touched && f['clinicId'].invalid" class="text-red-600 text-sm">
    <div *ngIf="f['clinicId'].errors?.['required']">العيادة مطلوبة.</div>
  </div>

  <button type="submit" [disabled]="loading">تحديث</button>
  <div *ngIf="errorMessage" class="error text-red-600 mt-2">{{ errorMessage }}</div>
</form>
