
<header id="header" class="header sticky-top">
  <div class="topbar d-flex align-items-center">
    <div
      class="container d-flex justify-content-center justify-content-md-between"
    >
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"
          ><a href="mailto:contact@example.com">NADAD.ofiicialgmail.com</a></i
        >
        <i class="bi bi-phone d-flex align-items-center ms-4"
          ><span>+962 7 9036 4468</span></i
        >
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a
          href="https://www.linkedin.com/company/icure-medical-ai/"
          class="linkedin"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <!-- End Top Bar -->

  <div class="branding d-flex align-items-center">
    <div
      class="container position-relative d-flex align-items-center justify-content-between"
    >
      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">NADAD</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li>
            <a href="#hero" class="active">Home<br /></a>
          </li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#departments">Departments</a></li>
          <li><a href="#doctors">Our Team</a></li>

          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn d-none d-sm-block" href="#appointment">Login</a>
    </div>
  </div>
</header>

<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section light-background">
    <div class="container position-relative">
      <div
        class="welcome position-relative"
        data-aos="fade-down"
        data-aos-delay="100"
      >
        <h2>WELCOME TO NADAD</h2>
        <p>   Accurate and Trusted Healthcare — Trusted by 95% of Patients</p>
      </div>
      <!-- End Welcome -->

      <div class="content row gy-4">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
            <h3>Why Choose NADAD?</h3>
            <p>
              At NABDA, your health is in expert hands. Our clinic hosts a team
              of certified doctors, experienced specialists, and dedicated
              nurses who work together to provide top-tier medical care tailored
              to your needs.
            </p>
            <div class="text-center">
              <a href="#about" class="more-btn"
                ><span>Learn More</span> <i class="bi bi-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="d-flex flex-column justify-content-center">
            <div class="row gy-4">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Expert Doctors</h4>
                  <p>
                    A trusted team of certified specialists across various
                    medical fields.
                  </p>
                </div>
              </div>
              <!-- End Icon Box -->

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                  <i class="bi bi-heart-pulse"></i>
                  <h4>Fast & Easy Booking</h4>
                  <p>
                    Book your appointment online in seconds with flexible timing
                    options.
                  </p>
                </div>
              </div>
              <!-- End Icon Box -->

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                  <i class="bi bi-leaf"></i>

                  <h4>Smart Clinic Management</h4>
                  <p>
                    All records, prescriptions, and appointments managed
                    securely in one place.
                  </p>
                </div>
              </div>
              <!-- End Icon Box -->
            </div>
          </div>
        </div>
      </div>
      <!-- End  Content-->
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">
    <div class="container">
      <div class="row gy-4 gx-5">
        <div
          class="col-lg-6 position-relative align-self-start"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <img src="assets/img/ICURE (2).PNG" width="550px" />
        </div>

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          By digitizing health records and reducing unnecessary hospital visits,
          ICURE makes healthcare more efficient, accessible, and eco-friendly.
          <h3>About Us</h3>
          <p>
            ICURE is an AI-powered healthcare platform designed to provide
            faster, smarter, and more accessible medical diagnostics.
          </p>
          <ul>
            <li>
              <i class="fa-solid fa-vial-circle-check"></i>
              <div>
                <h5>AI-Driven Healthcare:</h5>
                <p>
                  ICURE uses artificial intelligence to predict diseases,
                  analyze medical images, and provide fast, accurate health
                  insights.
                </p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-pump-medical"></i>
              <div>
                <h5>Patient-Centered Care:reprehenderi</h5>
                <p>
                  We empower users with personalized treatment suggestions and
                  direct access to specialized doctors—all in one platform.
                </p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-heart-circle-xmark"></i>
              <div>
                <h5>Smart & Sustainable:</h5>
                <p>
                  ICURE uses artificial intelligence to predict diseases,
                  analyze medical images, and provide fast, accurate health
                  insights.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Services Section -->
  <section id="services" class="services section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-heartbeat"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>AI Symptom Checker & Diagnosis</h3>
            </a>
            <p>
              Describe your symptoms and get fast predictions powered by medical
              AI.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-pills"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Medical Image Analysis</h3>
            </a>
            <p>
              Upload X-ray, CT, or MRI scans and get instant AI-supported
              interpretation.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-hospital-user"></i>
            </div>

            <a href="#" class="stretched-link">
              <h3>Doctor Consultations</h3>
            </a>
            <p>
              Connect with specialized doctors to verify AI results and receive
              expert care.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-dna"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Digital Health Recordst</h3>
            </a>
            <p>
              Keep all your medical history securely stored andaccessible
              anytime.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-wheelchair"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Sustainable Healthcare</h3>
            </a>
            <p>
              Helping the environment by reducing unnecessary hospital visits
              and paper usage.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <!-- End Service Item -->

        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->

  <!-- Departments Section -->
  <section id="departments" class="departments section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Departments</h2>
      <p>Explore Our Medical Specialties</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a
                class="nav-link active show"
                data-bs-toggle="tab"
                href="#departments-tab-1"
                >Cardiology</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2"
                >Neurology</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3"
                >Hepatology</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4"
                >Pediatrics</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5"
                >Eye Care</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="departments-tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Cardiology</h3>
                  <p class="fst-italic">
                    Our AI supports early detection of cardiovascular conditions
                    by analyzing symptoms and medical imaging. ICURE helps users
                    identify signs of heart-related issues and connect with
                    cardiologists for expert evaluation and treatment plans.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/Cardiology .jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Neurology</h3>
                  <p class="fst-italic">
                    ICURE uses AI models to assist in detecting neurological
                    disorders such as migraines, strokes, or seizures. By
                    evaluating CT/MRI scans and reported symptoms, we provide
                    fast insights and connect users with neurology specialists.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/Neurology.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>

            <div class="tab-pane" id="departments-tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Hepatology</h3>
                  <p class="fst-italic">
                    Monitor and manage liver health with ICURE’s intelligent
                    tools. The platform detects signs of liver dysfunction,
                    supports early-stage diagnosis, and helps patients
                    understand when to consult a hepatologist.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/Hepatology.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>

            <div class="tab-pane" id="departments-tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Pediatrics</h3>
                  <p class="fst-italic">
                    Parents can use ICURE to analyze children’s symptoms and
                    receive safe, AI-generated health assessments. The platform
                    supports common pediatric concerns and offers direct
                    consultation options with pediatric doctors.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/Pediatrics (Children’s Health).jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Eye Care</h3>
                  <p class="fst-italic">
                    ICURE supports early detection of eye-related conditions
                    such as glaucoma or retinal issues through symptom analysis
                    and imaging support. Easily consult with eye
                    specialists for next steps.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/Eye Care.jpg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Departments Section -->

  <!-- Doctors Section -->
  <section id="doctors" class="doctors section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Our Team</h2>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="assets/img/wasan.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>wasan yacoub</h4>
              <span> business information technology</span>

              <div class="social">
                <a
                  href="https://www.instagram.com/wasanismael1?igsh=OXBmMnRsbjZoa3B2&utm_source=qr"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a
                  href="https://www.linkedin.com/in/wasan-yacoup-6186482a7?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                >
                  <i class="bi bi-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="assets/img/raneem.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Raneem ALbader</h4>
              <span>computer engineering </span>

              <div class="social">
                <a
                  href="https://www.instagram.com/albader_002?igsh=Y2tkaGEwN2VpNGl6"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="https://www.linkedin.com/in/raneem-albader-0a7162261/">
                  <i class="bi bi-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="assets/img/Mohannad.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Mohannad Obeidat</h4>
              <span>medical student</span>

              <div class="social">
                <a href="https://www.instagram.com/mhnd_obeidat/"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="https://www.linkedin.com/in/mohannadobeidat/">
                  <i class="bi bi-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="assets/img/ziad.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>zaid abu rumman</h4>
              <span>data science and ai </span>

              <div class="social">
                <a href="https://www.instagram.com/z9fyh/"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a
                  href="https://www.linkedin.com/in/zaid-abu-rumman-254b28298/"
                >
                  <i class="bi bi-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="assets/img/omar.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>omar Mohammed</h4>
              <span>computer science </span>

              <div class="social">
                <a
                  href="https://www.instagram.com/omarr.hammadd?igsh=OGQ5ZDc2ODk2ZA=="
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="https://www.linkedin.com/in/omar-mohammed-45a5862b4/">
                  <i class="bi bi-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Doctors Section -->

  <!-- Faq Section -->
  <section id="faq" class="faq section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Frequently Asked Questions</h2>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3>What is ICURE and how does it work?</h3>
              <div class="faq-content">
                <p>
                  ICURE is an AI-powered healthcare platform that analyzes
                  symptoms and medical images to predict possible diseases and
                  provide treatment recommendations.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>Is ICURE a replacement for a doctor?</h3>
              <div class="faq-content">
                <p>
                  No, ICURE is a supportive tool. It provides early insights and
                  connects users with specialized doctors for expert review.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>Can I upload my medical scans like X-rays or MRIs?</h3>
              <div class="faq-content">
                <p>
                  Yes, ICURE allows you to upload X-ray, CT, and MRI images for
                  AI-powered interpretation.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>Does ICURE support Arabic and other languages?</h3>
              <div class="faq-content">
                <p>
                  Yes, ICURE is designed for both Arabic and English users, with
                  plans to support more languages.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>How accurate is the AI diagnosis?</h3>
              <div class="faq-content">
                <p>
                  ICURE's AI is trained on medical datasets and reviewed by
                  medical experts, offering over 90% accuracy in supported
                  conditions.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>Do I need a doctor to use the platform?</h3>
              <div class="faq-content">
                <p>
                  No. You can start with AI analysis yourself and optionally
                  consult with a doctor through the platform.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->
          </div>
        </div>
        <!-- End Faq Column-->
      </div>
    </div>
  </section>
  <!-- /Faq Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
    </div>
    <!-- End Section Title -->
    <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
      <iframe
        src="https://www.google.com/maps?q=مؤسسة نهر الاردن&output=embed"
        width="100%"
        height="270"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <!-- End Google Maps -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div
            class="info-item d-flex"
            data-aos="fade-up"
            data-aos-delay="300"
          ></div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+962 7 9036 4468</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>icure.ofiicialgmail.com</p>
            </div>
          </div>
          <!-- End Info Item -->
        </div>

        <div class="col-lg-8">
          <form
            action="forms/contact.php"
            method="post"
            class="php-email-form"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="row gy-4">
              <div class="col-md-6">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Your Name"
                  required=""
                />
              </div>

              <div class="col-md-6">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Your Email"
                  required=""
                />
              </div>

              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  placeholder="Subject"
                  required=""
                />
              </div>

              <div class="col-md-12">
                <textarea
                  class="form-control"
                  name="message"
                  rows="6"
                  placeholder="Message"
                  required=""
                ></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>

                <button type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- /Contact Section -->
</main>

<footer id="footer" class="footer light-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">Icure</span>
        </a>
        <div class="footer-contact pt-3">
          <p class="mt-3">
            <strong>Phone:</strong> <span>+962 7 9036 4468</span>
          </p>
          <p><strong>Email:</strong> <span>icure.ofiicialgmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="https://www.linkedin.com/company/icure-medical-ai/"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Company Info</h4>
        <p>
          ICURE is an AI-powered healthcare platform that predicts diseases,
          analyzes medical images, and connects you with the right
          specialists—faster, smarter, and sustainabl Sustainable Digital Health
        </p>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Healthcare Services</h4>
        <ul>
          <li><a href="#"> AI Symptom Checker</a></li>
          <li><a href="#">Medical Image Analysis </a></li>
          <li><a href="#"> Doctor Consultations</a></li>
          <li><a href="#">Electronic Health Records (EHR)</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>
      © <span id="year"></span>
      <strong class="px-1 sitename">Icure</strong>
    </p>
  </div>

  <script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>
</footer>

<router-outlet></router-outlet>


<router-outlet></router-outlet>

