.form-container {
  width: 800px;
  margin: 40px auto;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.137);
  border-radius: 12px;
  color:#717d85;
}
.form-container:hover{
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
 color:#717d85;
  margin-top: 16px;
}

form input,
form select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #10b981;
}

.text-red-600 {
  color: #dc2626;
  margin-top: 4px;
}

button[type="submit"] {
  background-color: #10b981;
  color: white;
  padding: 10px 20px;
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #2cb48f;
  transform: scale(1.02);
}

button[type="submit"]:disabled {
 background-color: #2cb48f;
  cursor: not-allowed;
}

.error {
  font-size: 14px;
  font-weight: 500;
}
