.form-container {
  width: 800px;
  margin: 40px auto;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.137);
  border-radius: 12px;
  color:#717d85;
}
.form-container:hover{
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
 color:#717d85dc;
  margin-top: 16px;
}

form input,
form select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #10b981;
}

.text-red-600 {
  color: #dc2626;
  margin-top: 4px;
}

button[type="submit"] {
  background-color: #10b981;
  color: white;
  padding: 10px 20px;
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #2cb48f;
  transform: scale(1.02);
}

button[type="submit"]:disabled {
 background-color: #2cb48f;
  cursor: not-allowed;
}

.error {
  font-size: 14px;
  font-weight: 500;
}
/* Side Modal */
.modal-side-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 320px;
  z-index: 1000;
}

.modal-side-content {
  background-color: #ffffff;
  border-left: 6px solid #10b981;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px 20px 32px 20px;
  position: relative;
  overflow: hidden;
  animation: slideIn 0.4s ease-out;
}

.modal-side-content h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #10b981;
}

.modal-side-content p {
  font-size: 14px;
  color: #555;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: #10b981;
  transition: width 0.05s linear;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
