.appointments-container {
  max-width: 900px;
  margin: 6px auto;
  padding: 10px;
}

h1 {

  text-align: center;
}
.section-title {
  text-align: center;

  color: #2cb48f;

}

.appointments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*edit*/

.appointment-item {
  background-color: #f9fdfc;
  border: 1px solid #dfeeea;

  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.appointment-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12),
    0 6px 10px rgba(69, 212, 174, 0.15);
}

.appointment-info {
  font-size: 1.1rem;
  font-weight: 600;
  color: #34495e;
  margin-bottom: 10px;
}

.doctor-name {
  color: #2cb48f;
}

.clinic-name {
  color: #7f8c8d;
}

.appointment-datetime {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}

.no-appointments-msg {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  margin-top: 40px;
}

.cancel-btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #f8d7da;
  color: #a94442;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s ease;
}

.cancel-btn:hover {
  background-color: #f5c6cb;
}
