<h2 class="header-dashboard">Patient Dashboard</h2>


<section class="health-summary">
  <h3>Health Summary</h3>
  <ul>
    <li><strong>Blood Pressure:</strong> {{ healthSummary.bloodPressure }}</li>
    <li><strong>Weight:</strong> {{ healthSummary.weight }}</li>
    <li><strong>Blood Sugar:</strong> {{ healthSummary.bloodSugar }}</li>
  </ul>
</section>

<section class="appointments">
  <h3>Upcoming Appointments</h3>
  <!-- <ul>
    <li *ngFor="let app of upcomingAppointments">
      {{ app.date }} with {{ app.doctor }} - <span [class]="app.status.toLowerCase()">{{ app.status }}</span>
    </li>
  </ul> -->
</section>

<section class="prescriptions">
  <h3>Current Prescriptions</h3>
  <!-- <ul>
    <li *ngFor="let presc of currentPrescriptions">
      {{ presc.medication }} - {{ presc.dosage }} ({{ presc.duration }})
    </li>
  </ul> -->
</section>

<section class="notifications">
  <h3>Notifications</h3>
  <ul>
    <li *ngFor="let note of notifications">{{ note }}</li>
  </ul>
</section>
<router-outlet></router-outlet>
