<h2>Drug Management</h2>

<div class="table-wrapper">

  <form [formGroup]="drugForm" (ngSubmit)="onSubmit()" class="drug-form">
<div class="input-with-icon">
  <i class="bi bi-search"></i>
  <input type="text" formControlName="name" placeholder="Drug Name" />
</div>
    <button type="submit" [disabled]="drugForm.invalid || loading" class="bg-green-500">
      {{ isEditing ? 'Update' : 'Add' }}
    </button>
    <button *ngIf="isEditing" type="button" (click)="cancelEdit()" class="bg-blue-500">
      Cancel
    </button>
  </form>

  <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Drug Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drug of drugs; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ drug.name }}</td>
        <td>
          <button (click)="editDrug(drug)" class="bg-blue-500">Edit</button>
          <button (click)="deleteDrug(drug.id)" class="bg-red-500">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
