<h2 class="section-title">🏥 Clinic Departments</h2>

<div class="clinic-buttons">
  <button
    *ngFor="let clinic of clinics"
    (click)="filterDoctorsByClinic(clinic.id)"
    class="clinic-button"
  >
    <img [src]="clinic.image" [alt]="clinic.name" class="clinic-image" />
    <span>{{ clinic.name }}</span>
  </button>
</div>

<div *ngFor="let doctor of filteredDoctors" class="doctor-card">
  <img [src]="doctor.image" [alt]="doctor.name" class="doctor-image" />
  <h3 class="doctor-name">{{ doctor.name }}</h3>
  <p class="doctor-specialty">Specialty: {{ doctor.specification }}</p>
  <p class="doctor-clinic">Clinic ID: {{ doctor.clinicId }}</p>
  <button
    [routerLink]="['/patient/book-appointment', doctor.id]"
    class="book-appointment"
  >
    Book Appointment
  </button>
</div>