<div class="patient-history">
  <h3>{{ "PATIENT_HISTORY.TITLE" | translate }}</h3>

  <table *ngIf="history.length > 0; else noHistory">
    <thead>
      <tr>
        <th>{{ "PATIENT_HISTORY.DATE" | translate }}</th>
        <th>{{ "PATIENT_HISTORY.DIAGNOSIS" | translate }}</th>
        <th>{{ "PATIENT_HISTORY.DRUGS" | translate }}</th>
        <th>{{ "PATIENT_HISTORY.PAYMENT" | translate }}</th>
        <th>{{ "PATIENT_HISTORY.STATUS" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of history">
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.details.diagnosis }}</td>
        <td>{{ appointment.details.drugs.join(", ") }}</td>
        <td>${{ appointment.details.payment }}</td>
        <td>{{ appointment.status }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noHistory>
    <p>{{ "PATIENT_HISTORY.NO_HISTORY" | translate }}</p>
  </ng-template>
</div>
