
<div class="layout">

  <aside class="sidebar">
    <h2>{{ "ADMIN_DASHBOARD.TITLE" | translate }}</h2>
  <hr>
    <nav>
        <ul>
        <li>
          <a routerLink="/admin/dashboard" routerLinkActive="active">
            {{ "ADMIN_DASHBOARD.HOME" | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/admin/manageDoctor" routerLinkActive="active">
            {{ "ADMIN_DASHBOARD.DOCTORS" | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/admin/manageClinic" routerLinkActive="active">
            {{ "ADMIN_DASHBOARD.CLINICS" | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/admin/manageDiagnoses" routerLinkActive="active">
            {{ "ADMIN_DASHBOARD.DIAGNOSES" | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/admin/manageDrugs" routerLinkActive="active">
            {{ "ADMIN_DASHBOARD.DRUGS" | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/">
            {{ "ADMIN_DASHBOARD.LOGOUT" | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  
  <main class="content">
    <router-outlet></router-outlet>
  </main>


