.form-title {
  font-size: 2rem;
  color: #2cb48f;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

input[type="date"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  color: #888;
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.time-slot {
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  border: 1px solid #2cb48f;
  cursor: pointer;
  transition: 0.3s ease;
}

.time-slot.available {
  background-color: #e9f7f3;
  color: #2c3e50;
}

.time-slot.booked {
  background-color: #ddd;
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
}

.time-slot.selected {
  background-color: #2cb48f;
  color: #fff;
  border-color: #2cb48f;
}

.btn {
  display: block;
  margin: 2rem auto 0;
  padding: 0.8rem 2rem;
  background-color: #2cb48f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #218a70;
}
#app-modal-root .picker-container .datetime-picker-controls button {
color: white;
}
