<p-toast></p-toast>

<div class="login-container-split">
  <div class="login-logo-section">
    <img [src]="logoPath" alt="Logo" />
  </div>

  <div class="vertical-divider"></div>

  <div class="login-form-section">
    <h2>{{ "LOGIN_FORM.login" | translate }}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>{{ "LOGIN_FORM.email" | translate }}</label>
        <input type="email" formControlName="email" />
        <div
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          class="error"
        >
          <div *ngIf="email?.errors?.['required']">
            {{ "LOGIN_FORM.emailRequired" | translate }}
          </div>
          <div *ngIf="email?.errors?.['email']">
            {{ "LOGIN_FORM.emailInvalid" | translate }}
          </div>
        </div>
      </div>

      <div class="form-group password-group">
        <label>{{ "LOGIN_FORM.password" | translate }}</label>
        <div class="password-input-wrapper">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            [attr.aria-label]="'LOGIN_FORM.password'"
          />
          <button
            type="button"
            class="toggle-password-btn"
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="
              'LOGIN_FORM.togglePasswordVisibility' | translate
            "
          >
            <i
              class="fa-solid"
              [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
            ></i>
          </button>
        </div>

        <div
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          class="error"
        >
          <div *ngIf="password?.errors?.['required']">
            {{ "LOGIN_FORM.passwordRequired" | translate }}
          </div>
          <div *ngIf="password?.errors?.['minlength']">
            {{ "LOGIN_FORM.passwordMinLength" | translate }}
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">
        {{ "LOGIN_FORM.loginButton" | translate }}
      </button>

      <div class="have-account">
        {{ "LOGIN_FORM.noAccount" | translate }}
        <a routerLink="/register">{{ "LOGIN_FORM.register" | translate }}</a>
      </div>
    </form>
  </div>
</div>
